* {
    background: linear-gradient(90deg, #D1D856 40%, #FFFBF0 60%);
}

.coding {
    color: red;
    text-align: center;
}

#subscript {
    font-size: 15px;
    color: red;
    font-weight: bolder;
}

.point {
    color: black;
    font-weight: bolder;
}

.link {
    color: blue;
    font-weight: bold;
}

.section-2 {
    text-align: center;
    border: 2px solid green;
    margin-left: 600px;
    margin-right: 600px;
}

.article {
    text-align: center;
}