* {
    background: linear-gradient(120deg, #F2EFE3 40%, black 60%);
}

.coding {
    color: gold;
    text-align: center;
}

#subscript {
    font-size: 15px;
    color: gold;
    font-weight: bolder;
}

.point {
    color: black;
    font-weight: bolder;
}

.link {
    color: blue;
    font-weight: bold;
}